# OS
.DS_Store

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
node_modules/
*.egg-info/
.installed.cfg
*.egg
.serverless
*.pyc
*.pyo
__*cache__
.pytest_cache

# IDE artifacts
.vscode
.idea