[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
boto3 = "*"
smalluuid = "*"
pyjwt = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
pytest = "*"
moto = "*"
pytest-mock = "*"
tavern = "*"

[requires]
python_version = "3.6"
